aniso8601==9.0.1
certifi==2022.12.7
charset-normalizer==3.1.0
dnspython==2.3.0
falcon==3.1.1
falcon-cors==1.1.7
graphene==3.2.2
graphql-core==3.2.3
graphql-relay==3.2.0
idna==3.4
mongoengine==0.27.0
pymongo==4.3.3
python-dotenv==1.0.0
requests==2.28.2
urllib3==1.26.15
